<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

    <header th:fragment="header">
<!--        <img src="logo.png" alt="Логотип" /> &lt;!&ndash; Замените "logo.png" на путь к вашему логотипу &ndash;&gt;-->
        <div sec:authorize="isAuthenticated()">
            <h1>Добро пожаловать <span th:text="${#authentication.name}"></span> !</h1>
        </div>
        <nav>
            <a sec:authorize="!isAuthenticated()" href="../login.html" th:href="@{/login}">Вход</a>
            <a sec:authorize="isAuthenticated()" href="../logout.html" th:href="@{/logout}">Выход</a>
        </nav>
    </header>
    
</body>
</html>