<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/style.css">
</head>
<body>
    <header th:fragment="header">
        <h2>RealMentor Project</h2>
        <nav>
            <a href="../index.html" th:href="@{/}">На главную</a>
            <a sec:authorize="!isAuthenticated()" href="../login.html" th:href="@{/login}">Войти</a>
            <a sec:authorize="isAuthenticated()" href="../logout.html" th:href="@{/logout}">Выйти</a>
        </nav>
    </header>
    
</body>
</html>