<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Document</title>
</head>
<body>

    <aside th:fragment="sidebar">
        <h2>Боковая панель</h2>
        <nav>
            <a href="../index.html" th:href="@{/}">На главную</a>
            <a href="../mentors.html" th:href="@{/mentors}">Менторы</a>
            <div sec:authorize="isAuthenticated()">
                <a href="../user.html" th:href="@{/user/{username}(username=${#authentication.name})}">Моя страница</a>
                <a href="../messages.html" th:href="@{/messages}">Сообщения</a>
                <a href="../profile.html" th:href="@{/profile}">Редактировать профиль</a>
                <a sec:authorize="hasRole('ROLE_MENTOR') == false" th:href="@{/mentor}">Стать ментором</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/mentor/requests}">Заявки на ментора</a>
            </div>
        </nav>
    </aside>

</body>
</html>