header {
    background-color: red;
}

main {
    background-color: blue;
}

footer {
    background-color: green;
}

aside {
    display: inline-block;
    background-color: yellow;
    height: 100%;
    width: 20%;
}