<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    
    <div th:replace="~{header :: header}"></div>

    <main>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Laborum illum quos voluptatum eum ut sit?
            Voluptatum autem repellendus quasi ab adipisci, similique error beatae ut ducimus, distinctio eum, eius vitae.
        </p>
    </main>
    
    <div th:replace="~{footer :: footer}"></div>
    
</body>
</html>