<!DOCTYPE html>
<html lang="en" 
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Login</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
        
<main>
    <div th:replace="~{fragments/sidebar :: aside}"></div>
    
    <section>
        <div class="form-container">
            <h2>Вход</h2>
            <div th:if="${param.error}">Неверный логин или пароль</div>
            <div th:if="${param.logout}">Вы вышли из системы</div>
            <form th:action="@{/login}" method="post">
                <input type="text" name="username" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit">Войти</button>
            </form>
            <h2>Регистрация</h2>
            <div th:if="${message != null}" th:text="${message}"></div>
            <form th:action="@{/user/registration}" method="post">
                <input type="text" name="username" placeholder="Имя" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <div th:if="${userDto != null}">На вашу почту
                <span th:text="${userDto.email}"></span>
                отправлена ссылка для подтверждения регистрации.</div>
        </div>
    </section>
</main>
    
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>