<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Форма профиля
    </h1>
    <form th:action="@{/profile}" method="post">
        <div>
            <p>Укажите ваше имя</p>
            <input type="text" name="firstname" placeholder="Имя"/>
        </div>
        <div>
            <p>Укажите вашу фамилию</p>
            <input type="text" name="lastname" placeholder="Фамилия"/>
        </div>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>