<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div th:replace="~{fragments/sidebar :: aside}"></div>

    <section>

<!--        Если пользователь на своей странице-->
        <div th:if="${owner}" th:object="${profileDto}">
            <div th:if="${profileDto != null}">
                <p>Привет ты на своей странице</p>
                <p th:text="*{username}">username</p>
                <p th:text="*{firstname}">firstname</p>
                <p th:text="*{lastname}">lastname</p>
            </div>

            <div th:if="${profileDto == null}">
                <a href="profile.html" th:href="@{/profile}">Заполните профиль</a>
            </div>
        </div>

        <!--        Если пользователь на чужой странице-->
        <div th:if="${!owner}" th:object="${profileDto}">
            <div th:if="${profileDto != null}">
                <p>Привет ты на странице пользователя:</p>
                <p th:text="*{username}">username</p>
                <p th:text="*{firstname}">firstname</p>
                <p th:text="*{lastname}">lastname</p>
                <a href="chat.html" th:href="@{/chat/{username}(username=${profileDto.username})}">Написать</a>
            </div>
        </div>

        <div>
            тут еще будет лента новостей
        </div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>